@import "./reset.css";

html, body {
	/* height: ; */
	background-color: white;
    padding: 0.625rem;
    font-family: 'Noto Sans KR', sans-serif;
}
hr {
    background:#DDE1EB;
    height:1px;
    border:0;
}
.cartModal-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.favorite-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.favorite-cnt{
    margin-left: auto;
    color: #A0A8B5;
    font-weight: bold;
}
.cart-container{
    overflow-y: auto;
}
.cart-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.125rem;
    height: auto;
}
.cart-item-img{
    width: 6.25rem;
    height: 6.25rem;
}
.cart-item-name{
    font-size: 1.125rem;
    align-self: flex-start;
    padding-left: 0.625rem;
}
.cart-delete-btn{
    border: 0;
    background-color: transparent;
    margin-left: auto; 
    align-self: flex-start;
}
.cart-close-btn{
    background-color: #0C8CE9;
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
    border: solid 0.0625rem #0C8CE9;
    font-size: 1.25rem;
    color: white;
}