#dice-text {
    margin-bottom: 2rem;
}

/* dice 컨테이너 */
.dice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 숨긴 기본 라디오 버튼 */
.custom-radio input[type="radio"] {
    display: none;
}

/* 라디오 버튼을 위한 커스텀 스타일 */
.custom-radio {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

/* 커스텀 라디오 박스 */
.custom-radio .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #0C8CE9;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

/* 선택되었을 때 스타일 */
.custom-radio input[type="radio"]:checked + .checkmark {
    background-color: #0C8CE9; /* 선택되었을 때 색상 */
    border-color: #0C8CE9;
}

/* 체크 표시 */
.custom-radio .checkmark:after {
    content: "";
    display: none;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* 선택되었을 때 체크 표시 보이기 */
.custom-radio input[type="radio"]:checked + .checkmark:after {
    display: block;
}

.dice {
    width: 100px;
    height: 100px;
    background-image: url('./assets/icons/roll-dice.svg'); /* 주사위 이미지 경로 */
    background-size: cover;
    margin: 50px auto;
    transition: transform 2s;
}

.rotate {
    transform: rotate(360deg);
}