body {
	font-family: 'Noto Sans KR', sans-serif;
}

.card_Container {  
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap: 2.12rem; /* 카드 사이의 간격 설정 */
  margin-bottom: 2.12rem; /* 요소끼리의 상하 간격 설정 */
}
.card_Item {
  background-color:#DDE1EB;
  display: flex;
  flex-direction:column;
  align-items:center;

  width: 24.875rem;
  height: 27.4375rem;
  flex-shrink: 0;

  box-sizing: border-box;
  border-radius: 0.9375rem;
  border: 0.0625rem solid var(--Border, #DDE1EB);
  background: var(--White, #FFF);

  overflow: hidden;
  position: relative;
  padding-bottom: 1.25rem; /* 텍스트 영역을 위해 패딩 추가 */
  width: calc((100% - 3 * 2.12rem) / 4);

}
.card_Item_Img{
  border-color: black;
  border-style: groove;
  background-color: #D9D9D9;

  justify-content:center;
  width: 21.375rem;
  height: 17.3125rem;
  flex-shrink: 0;

  box-sizing: border-box;
  margin-top: 2.06rem;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  /* padding-left: 1.75rem;
  padding-right: 1.75rem; */
}

.card_Item_Content{
  border-color: black;
  border-style: groove; 
  padding: 0.625rem;

  width: 21.75rem;
  height: 8.4375rem;
  flex-shrink: 0;

  color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  position: relative;
  width: calc(100% - 1.25rem); /* 좌우 패딩에 대한 보정 */
  margin-top: 0.625rem; /* 이미지와 텍스트 사이에 간격 추가 */

}
.card_Item_Content p {
  margin: 0.3125rem 0; /* p 태그 사이 간격을 줄이기 위해 마진 조정 */
  margin-left: 1.875rem;
}

.favorite-btn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;

  border: none;

  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #007bff;
  cursor: pointer;

  background: url('./assets/icons/favorite_default.svg') no-repeat center center;
    background-size: contain;
}

.favorite-btn:hover {
    background: url('./assets/icons/favorite_hover.svg') no-repeat center center;
    background-size: contain;
}