body {
	font-family: 'Noto Sans KR', sans-serif; /* 폰트를 Noto Sans KR로 설정 */
}

.card_Container {  
  display: flex; /* 플렉스 박스로 설정하여 내부 요소들을 유연하게 배치 */
  flex-direction: row; /* 플렉스 방향을 가로로 설정 */
  justify-content: start; /* 내부 요소들을 왼쪽 정렬 */
  align-items: center; /* 내부 요소들을 수직 가운데 정렬 */
  gap: 2.12rem; /* 카드 사이의 간격 설정 */
  margin-bottom: 2.12rem; /* 요소끼리의 상하 간격 설정 */
}
.card_Item {
  background-color: #DDE1EB; /* 배경 색상 설정 */
  display: flex; /* 플렉스 박스로 설정하여 내부 요소들을 유연하게 배치 */
  flex-direction: column; /* 플렉스 방향을 세로로 설정 */
  align-items: center; /* 내부 요소들을 수평 가운데 정렬 */

  width: 398px; /* 카드 너비 설정 */
  height: 28.75rem; /* 카드 높이 설정 */
  flex-shrink: 0; /* 플렉스 아이템이 축소되지 않도록 설정 */

  box-sizing: border-box; /* 박스 크기 계산에 패딩과 보더 포함 */
  border-radius: 0.9375rem; /* 모서리를 둥글게 설정 */
  border: 0.0625rem solid var(--Border, #DDE1EB); /* 테두리 설정 */
  background: var(--White, #FFF); /* 배경 색상 설정 */

  position: relative; /* 상대 위치 설정 */
  padding-bottom: 1.25rem; /* 텍스트 영역을 위해 패딩 추가 */
  width: calc((100% - 3 * 2.12rem) / 4); /* 동적 너비 설정 */
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden; /* 이미지가 카드 아이템을 벗어나지 않도록 설정 */
}
.card_Item_Img {
  background-color: #D9D9D9; /* 배경 색상 설정 */

  justify-content: center; /* 수평 가운데 정렬 */
  width: 300px; /* 이미지 너비 설정 */
  height: 17.3125rem; /* 이미지 높이 설정 */
  flex-shrink: 0; /* 플렉스 아이템이 축소되지 않도록 설정 */

  box-sizing: border-box; /* 박스 크기 계산에 패딩과 보더 포함 */
  margin-top: 2.06rem; /* 상단 마진 설정 */
  margin-left: 1.75rem; /* 좌측 마진 설정 */
  margin-right: 1.75rem; /* 우측 마진 설정 */
}

.card_Item_Content {
  width: 21.75rem; /* 내용 너비 설정 */
  height: 8.4375rem; /* 내용 높이 설정 */
  flex-shrink: 0; /* 플렉스 아이템이 축소되지 않도록 설정 */

  color: #000; /* 텍스트 색상 설정 */
  font-family: Inter; /* 폰트 설정 */
  font-size: 1rem; /* 폰트 크기 설정 */
  font-style: normal; /* 폰트 스타일 설정 */
  font-weight: 400; /* 폰트 두께 설정 */
  line-height: normal; /* 줄 높이 설정 */
  /* margin-left: -30px; */
  position: relative; /* 상대 위치 설정 */
  width: calc(100% - 0.625rem); /* 좌우 패딩에 대한 보정 */
  margin-top: 0.625rem; /* 이미지와 텍스트 사이에 간격 추가 */
}

.Item_Title{
  display: flex; 
  justify-content: space-between;
}

.card_Item_Content p {
  margin: 0.3125rem 0; /* p 태그 사이 간격을 줄이기 위해 마진 조정 */
  /* margin-left: 1.875rem; 좌측 마진 설정 */
}

.favorite-btn {

  border: none; /* 테두리 없음 */
  width: 1.875rem; /* 버튼 너비 설정 */
  height: 1.875rem; /* 버튼 높이 설정 */
  display: flex; /* 플렉스 박스로 설정하여 내부 요소들을 유연하게 배치 */
  align-items: center; /* 내부 요소들을 수직 가운데 정렬 */
  justify-content: center; /* 내부 요소들을 수평 가운데 정렬 */
  cursor: grab; /*커서 모양 설정*/

  background: url('./assets/icons/favorite_default.svg') no-repeat center center; /* 배경 이미지 설정 */
  background-size: contain; /* 배경 이미지 크기 조정 */
}

.favorite-btn:hover {
  background: url('./assets/icons/favorite_hover.svg') no-repeat center center; /* 호버 시 배경 이미지 변경 */
  background-size: contain; /* 배경 이미지 크기 조정 */
}

.favorite-btn:active {
  background: url('./assets/icons/favorite_hover.svg') no-repeat center center; /* 클릭 시 배경 이미지 변경 */
  background-size: contain; /* 배경 이미지 크기 조정 */
  animation: clickAnimation 0.4s; /* 클릭 애니메이션 적용 */
}

@import url('./syeonnn.css'); /* 외부 CSS 파일 가져오기 */

.lmr-container .card_Item a:hover .arrow_box {
  display: block; /* 이미지 위에 호버 시 보이게 함 */
}

.lmr-container .arrow_box.guide-link {
  border: 1px solid #000; /* 말풍선 테두리를 검은색으로 설정 */
  animation: float 3s infinite; /* 애니메이션 적용 */
  background: #FFF0F5; /* 배경색 변경 */
  top: 3rem; /* 말풍선 위치 조정 */
  right: 1rem; /* 말풍선 위치 조정 */
}

.lmr-container .arrow_box.guide-link:after {
  display: none; /* 세모 모양 제거 */
}








/* float 애니메이션 정의 */
@keyframes float {
  0% {
    transform: translateY(0); /* 처음 위치 */
  }
  50% {
    transform: translateY(-0.625rem); /* 중간 위치 */
  }
  100% {
    transform: translateY(0); /* 마지막 위치 */
  }
}

/* 클릭 애니메이션 정의 */
@keyframes clickAnimation {
  0% {
    transform: scale(1); /* 처음 크기 */
  }
  50% {
    transform: scale(0.5); /* 중간 크기 */
  }
  100% {
    transform: scale(1); /* 마지막 크기 */
  }
}
