select {
    width: 8.4375rem;
    height: 1.8125rem;
    padding: 0 1.75rem 0 0.625rem;
    font-size: 0.9375rem;

    border: none;
    border-radius: 0.3rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background: white; 

    background: #fff url('./assets/icons/select.png') no-repeat 97% 50%/1rem auto;
}

.select-wrap {
    width: 8.4375rem;
    height: 1.8125rem;
    border-radius: 0.5rem;
    background: url('./assets/icons/select.png') no-repeat 97% 50%/1rem auto;
}