select {
    width: 8.4375rem;
    height: 1.8125rem;
    padding: 0 28px 0 10px;
    font-size: 15px;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background: transparent; 
}

.select-wrap {
    width: 8.4375rem;
    height: 1.8125rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background: url('./assets/icons/select.png') no-repeat 97% 50%/1rem auto;
}